.gameSquare {
  height: 309px;
  width: 309px;
}

div {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
  margin: -2px;
  overflow: hidden;
  /*background-color: green;*/
}
